@charset "UTF-8";

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
    border-top: 10px solid #7A903D !important;
    border-bottom: 10px solid #7A903D !important;
}

.zentai{
    margin: 0 auto;
}

.header{
    text-align: center;
    margin-top: 30px;
    list-style-type: none;/*「・」を無くす*/
}
.header h1{
    color: #7A903D;
    font-size: 200%;
    padding: 10px 0;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight:bold;
}
.header p{
    font-size: 150%;
    color: #333;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.element_wrap {
	margin-bottom: 10px;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
label {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
	width: 150px;
}
.element_wrap p {
	display: inline-block;
	margin:  0;
	text-align: left;
}

.purchase{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.purchase a{
    width: 20%;
    height: 10%;
    margin:0 auto;
    text-align: center;
    padding: 10px;
    font-size: 150%;
    color: #fff;
    background: #7A903D;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border:none;
    text-decoration:none; 
}
.purchase :hover{
    opacity: 0.7;
    transition-duration: 0.1s;
}