/* 全体設定 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* ヘッダー */
.header {
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.header h1 {
  font-size: 2.8rem;
  margin: 0;
  color: #3498db;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
}

.header p {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #3498db;
  border-radius: 5px;
}

/* メインセクション */
main {
  width: 100%;
  max-width: 900px; /* 最大幅を設定 */
  padding: 20px;
  margin: 0 auto;
}

/* 店舗情報セクション */
.about {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 15px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.8;
}

/* メニューセクション */
.menu {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.menu h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #2c3e50;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h3 {
  font-size: 1.6rem;
  color: #2c3e50;
  margin-bottom: 5px;
}

.menu-item p {
  font-size: 1.2rem;
  color: #7f8c8d;
  line-height: 1.8;
}

/* ギャラリーセクション */
.gallery img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

/* お問い合わせセクション */
.contact {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 15px;
}

.contact p {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #333;
  line-height: 1.8;
}

/* 地図コンテナ */
.map-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

/* 戻るボタンのスタイル */
.back-button {
  background-color: #3498db;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
  header h1 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 1.1rem;
  }

  .about h2, .menu h2, .contact h2 {
    font-size: 1.6rem;
  }

  .menu-item h3 {
    font-size: 1.4rem;
  }

  .menu-item p, .about p, .contact p {
    font-size: 1.1rem;
  }

  .restaurant-photo img {
    max-width: 90%;
  }
}
