@media (min-width: 521px) {
    body {
        text-align: center;
        background-color: rgb(240, 240, 240);
    }

    h1 {
        margin-top: 50px;
    }

    img {
        border: solid 1px #777777;
    }

    .form-container {
        display: inline-block;
        text-align: left;
        margin-right: 150px;
    }

    .form {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    label {
        width: 300px;
        text-align: right;
        margin-right: 10px;
    }

    .inp-button input[type="submit"] {
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 50px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .inp-button input[type="submit"]:hover {
        background-color: #45a049;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .foodmenus {
        width: 40%;
        height: auto;
        border-radius: 20px;
        margin-top: 50px;

    }

    table {
        margin: 0 auto;
        border-collapse: collapse;
        width: 100%;
    }

    table,
    th,
    td {
        border: 2px solid black;
    }

    th {
        background-color: rgb(220, 220, 220);
    }

    td {
        background-color: rgb(255, 255, 255);
    }

    th,
    td {
        padding: 30px;
        text-align: center;
    }

    .menu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-item {
        width: calc(40% - 20px);
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 20px;
        text-align: center;
        overflow: hidden;
        background-color: rgb(255, 255, 255);

    }

    .menu-item:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .menu-link {
        text-decoration: none;
        color: #1a1a1a;
    }

    .menu-link h2 {
        font-size: 30px;
        margin: 0;
        padding: 10px;
        background-color: #dffabd;
    }

    .menu-link img {
        width: 50%;
        height: auto;
        border-radius: 15px;
    }

    .menu-link p {
        font-size: 20px;
        margin: 10px 0;
    }

    .back-button {
        margin-top: 50px;
        text-align: center;
    }

    .back-button input[type="submit"] {
        padding: 10px 20px;
        font-size: 30px;
        background-color: rgb(100, 100, 100);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .back-button input[type="submit"]:hover {
        background-color: rgb(60, 60, 60);
    }

    .menu_rate_img {
        width: 300px;
        height: auto;
        border-radius: 20px;
    }

    .star {
        display: inline-block;
        font-size: 24px;
        color: #FFD700;
        line-height: 1;
        /* 行の高さを調整 */
    }

    .full-star,
    .empty-star {
        display: inline-block;
        vertical-align: middle;
        /* 各星の垂直方向の位置を揃える */
    }

    .full-star,
    .empty-star {
        color: #FFD700;
    }

    .empty-star {
        color: #b3b3b3;
    }

    .half-star {
        position: relative;
        display: inline-block;
        width: 0.5em;
        margin-right: 0.5em;
        overflow: hidden;
        vertical-align: middle;
        /* 垂直方向の位置を揃える */
    }

    .half-star:before {
        content: '★';
        position: absolute;
        left: 0;
        width: 1em;
        height: 1em;
        line-height: 1em;
        /* 行の高さを調整 */
        color: #FFD700;
    }
}

@media (max-width: 520px) {
    body {
        text-align: center;
        background-color: rgb(240, 240, 240);
    }

    h1 {
        margin-top: 50px;
    }

    img {
        border: solid 1px #777777;
    }

    .form-container {
        display: inline-block;
        text-align: left;
        margin-right: 150px;
    }

    .form {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    label {
        width: 300px;
        text-align: right;
        margin-right: 10px;
    }

    .inp-button input[type="submit"] {
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 50px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .inp-button input[type="submit"]:hover {
        background-color: #45a049;
    }

    .foodmenus {
        width: 90%;
        height: auto;
        border-radius: 20px;
    }

    table {
        margin: 0 auto;
        border-collapse: collapse;
        width: 90%;
    }

    table,
    th,
    td {
        border: 2px solid black;
    }

    th {
        background-color: rgb(220, 220, 220);
    }

    td {
        background-color: rgb(255, 255, 255);
    }

    th,
    td {
        padding: 30px;
        text-align: center;
    }

    .menu-container{
        justify-content: center;
    }

    .menu-item {
        width: 90%;
        margin-block-end: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 20px;
        text-align: center;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }

    .menu-item:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .menu-link {
        text-decoration: none;
        color: #1a1a1a;
    }

    .menu-link h2 {
        font-size: 30px;
        margin: 0;
        padding: 10px;
        background-color: #dffabd;
    }

    .menu-link img {
        width: 50%;
        height: auto;
        border-radius: 15px;
    }

    .menu-link p {
        font-size: 20px;
        margin: 10px 0;
    }

    .back-button {
        margin-top: 50px;
        text-align: center;
    }

    .back-button input[type="submit"] {
        padding: 10px 20px;
        font-size: 30px;
        background-color: rgb(100, 100, 100);
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }

    .back-button input[type="submit"]:hover {
        background-color: rgb(60, 60, 60);
    }

    .menu_rate_img {
        width: 300px;
        height: auto;
        border-radius: 20px;
    }

    .star {
        display: inline-block;
        font-size: 24px;
        color: #FFD700;
        line-height: 1;
        /* 行の高さを調整 */
    }

    .full-star,
    .empty-star {
        display: inline-block;
        vertical-align: middle;
        /* 各星の垂直方向の位置を揃える */
    }

    .full-star,
    .empty-star {
        color: #FFD700;
    }

    .empty-star {
        color: #b3b3b3;
    }

    .half-star {
        position: relative;
        display: inline-block;
        width: 0.5em;
        margin-right: 0.5em;
        overflow: hidden;
        vertical-align: middle;
        /* 垂直方向の位置を揃える */
    }

    .half-star:before {
        content: '★';
        position: absolute;
        left: 0;
        width: 1em;
        height: 1em;
        line-height: 1em;
        /* 行の高さを調整 */
        color: #FFD700;
    }
}