h1 {
  font-size: 40px;
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  text-align: center;
}

body {
  background: linear-gradient(white, rgb(0, 153, 255));
}

a {
  color: #1400cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #4080ff;
}

section {
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section:nth-child(odd) {
  background-color: #f0f8ff;
}

section:nth-child(even) {
  background-color: #fffaf0;
}

h2 {
  font-size: 1.8em;
  color: #0073e6;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

p {
  line-height: 1.6;
  color: #333;
  font-size: 23px;
  margin: 10px;
}

.important-info {
  font-weight: bold;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}

@media (max-width: 770px) {
  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 45px;
  }

  section {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
  }
}

a.btn-radius-solid {
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
  padding: 20px 40px;
  /* ボタンの内側の余白を大きくする */
  font-size: 1.5rem;
  /* フォントサイズを大きくする */
  border-radius: 50px;
  /* ボタンの角を丸く */
}

a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}

.center {
  text-align: center;
}

.btn-radius-solid {
  display: inline-block;
  /* ボタンを中央に配置するために inline-block を設定 */
}