h1{
    text-align: center;
    font-size: 45px;
    padding: 1rem 2rem;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
   
}
body {
    background-color: #94ffdf; /* 例：薄い灰色 */
  }

  