h1{
  text-align: center;
  font-size: 28px;
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
 
}
body {
    background:linear-gradient(white,rgb(0, 153, 255));
}
h2{
    font-size:15px
}
p{
    font-size:13px
}
