h1{
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 70px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f83600), to(#f9d423));
    background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 100%);
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  }

  body {
    background-color: #b7e3f8;
  }

        body {
            font-size: 30px; 
        }
        p {
            font-size: 35px; 
        }
        h1 {
            font-size: 30px;
        }
        .image-container {
            display: flex;
            align-items: center; 
        }
        img {
            width: 400px;
            margin-right: 20px;
        }
