h1 {
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

  body {
    background-color: #34afb8;
  }



  body {
      font-size: 15px; 
  }
  p {
      font-size: 35px; 
  }
  h1 {
      font-size: 30px;
  }
  h2 {
      font-size: 30px;
  }
  h3 {
      font-size: 30px;
  }
  .image-container {
      display: flex;
      align-items: center; 
  }
  img {
      width: 600px;
      margin-right: 20px;
  }
  div.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 高さを指定して中央に配置 */
  }
  