h2 {
  position: relative;
  padding: 1.5rem 1rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.property-list {
  text-align: center;
  margin: 50px auto;
}

.property-list ul {
  list-style: none;
  display: flex;
  /* flexbox を使用 */
  flex-direction: column;
  /* 縦方向に並べる */
  align-items: center;
  /* 各項目を中央揃え */
  padding: 0;
}

.property-list li {
  width: 80%;
  /* 各項目の幅を調整 */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.property-list img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.property-list h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn-c {
  font-size: 1.8rem;
  position: relative;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 100vh;
}

a.btn-c i.fa {
  margin-right: 1rem;
}

a.btn-radius-solid {
  background: #f1e767;
  background: -webkit-gradient(linear, center top, center bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}

a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, center bottom, center top, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}